/* .footer allways at the bottom of the body height of 3 rem and in middle*/
footer {
  color: white;
  background-color: black;
}

img{
  width: 120px;
  height: 100px;
  float: left;
}

table{
  border-color: white;
  height: 105px;
  width: 700px;
}

th
{
  text-align: left;
}

td{
  text-align: left;
}

table tr td a{
  color: white;
}