.news_panel {
    background-color: rgb(226, 241, 255);
    border-radius: 2rem;
    border: 1px;
    border-color: black;
    width: 50rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button .Nuevo {
    width: 10rem;
}